@use 'bootstrap';

// color palette
$dc-primary: #0282f9;
$dc-main-bg: #1c1c1c;
$dc-footer: #303030;
$dc-lightgray: #7c7c7c;
$dc-white: #f6f6f6;
$dc-green: #55ba59;
$dc-light-green: #a9fb9a;
$dc-comic-title: #003f5e;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#site_header{
    .top{
        background-color: $dc-primary;
        p{
            margin: 0;
            padding: 10px 0;
            color: white;
            padding-left: 2rem;
            font-weight: 700;
        }
    }
    nav{
        padding: 1rem 0;
        a{
            align-self: center;
            font-weight: 600;
            color: $dc-footer;
        }
        a:hover{
            color: $dc-primary;
            border-bottom: 3px solid $dc-primary;
            margin-bottom: -3px;
        }
        .margin_tb_2{
            margin: 2rem 0;
        }
    }
}
.jumbotron{
    max-height: 500px;
    overflow: hidden;
    img{
        width: 100%;
        object-position: top;
    }
}
.bg_main{
    background-color: $dc-main-bg;
    position: relative;
    .current_series{
        position: absolute;
        background-color: $dc-primary;
        color: white;
        font-weight: 600;
        font-size: 2rem;
        top: -30px;
    }
    a{
        text-decoration: none;
    }
    p{
        color: white;
        padding-left: 1rem;
        padding-top: 1rem;
    }
    .h_200{
        max-height: 200px;
        overflow: hidden;
        img{
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
        .p_1{
            padding: 1rem;
        }
    }
    .load_more{
        background-color: $dc-primary;
        text-align: center;
        a{
            color: white;
            font-weight: 600;
            text-decoration: none;
        }
    }
}
.bg_primary{
    background-color: $dc-primary;
    .col_custom_5{
        width: calc(100% / 5);
        align-items: center;
        p{
            color: white;
            font-weight: 600;
            margin: 0;
            padding-left: 1rem;
        }
        img{
            height: 50%;
        }
    }
}
.comic_thumb{
    min-height: 70px;
    background-color: $dc-primary;
    position: relative;
    .thumb_container{
        position: absolute;
        bottom: 20px;
        border: 1px solid white;
        p{
            margin: 0;
        }
        .thumb_text{
            color: white;
            position: absolute;
            background-color: $dc-primary;
            padding: 5px;
            bottom: calc(291px - 34px);
        }
        .thumb_link{
            position: absolute;
            background-color: $dc-primary;
            bottom: 0;
            width: 100%;
            text-align: center;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}
.descriptions{
    font-weight: 600;
    .title{
        color: $dc-comic-title;
    }
    p{
        margin: 0;
    }
    .white_text{
        color: white;
        padding: 1rem;
    }
    .price>span, .status{
        color: $dc-light-green;
        padding: 1rem;
    }
    .price_container{
        background-color: $dc-green;
        border: 1px solid $dc-comic-title;
    }
    .pad_l_7{
        padding-left: 7rem;
    }
}
.infos{
    background-color: $dc-white;
    border-top: 1px solid gray;
    .blue_text{
        color: $dc-comic-title;
    }
    .light_blue_text{
        color: #02c8f9;
    }
    .border_y_info{
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }
    .border_bot_info{
        border-bottom: 1px solid lightgray;
    }
}
.links_collection{
    background-color: $dc-white;
    border: 1px solid gray;
    .br_l{
        border-left: 1px solid gray;
    }
    .br_r{
        border-right: 1px solid gray;
    }
}
footer{
    .bg_footer{
        background-image: url('/img/footer-bg.jpg');
        background-size: cover;
        a{
            text-decoration: none;
            display: block;
        }
        .footer_link{
            color: $dc-lightgray;
        }
        .footer_link_blue{
            color: $dc-primary;
            display: inline;
        }
        h2{
            color: white;
        }
        .grey_text{
            color: $dc-lightgray;
        }
        .footer_logo{
            background-image: url('/img/dc-logo-bg.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 650px;
            height: 100%;
        }
        .max_h_550{
            height: 550px;
        }
    }
    .footer_bottom{
        background-color: $dc-footer;
        .sign_up_btn{
            text-decoration: none;
            padding: 1rem;
            color: white;
            border: 2px solid $dc-primary;
            font-size: 1.4rem;
        }
        .footer_socials{
            align-items: center;
            column-gap: 2rem;
            .follow_us{
                text-decoration: none;
                font-size: 1.4rem;
            }
        }
    }
}