@use 'bootstrap';

// color palette
$dc-primary: #0282f9;
$dc-main-bg: #1c1c1c;
$dc-footer: #303030;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#site_header{
    .top{
        background-color: $dc-primary;
        p{
            margin: 0;
            padding: 10px 0;
            color: white;
            padding-left: 2rem;
            font-weight: 700;
        }
    }
    nav{
        padding: 1rem 0;
        a{
            align-self: center;
            font-weight: 600;
            color: $dc-footer;
        }
        a:hover{
            color: $dc-primary;
            border-bottom: 3px solid $dc-primary;
            margin-bottom: -3px;
        }
        .margin_tb_2{
            margin: 2rem 0;
        }
    }
}
.jumbotron{
    max-height: 500px;
    overflow: hidden;
    img{
        width: 100%;
        object-position: top;
    }
}
.bg_main{
    background-color: $dc-main-bg;
    p{
        color: white;
    }
}